cs filter=lfs diff=lfs merge=lfs -text
cv filter=lfs diff=lfs merge=lfs -text
dv filter=lfs diff=lfs merge=lfs -text
lt filter=lfs diff=lfs merge=lfs -text
ro filter=lfs diff=lfs merge=lfs -text
rw filter=lfs diff=lfs merge=lfs -text
sl filter=lfs diff=lfs merge=lfs -text
fr filter=lfs diff=lfs merge=lfs -text
ga-IE filter=lfs diff=lfs merge=lfs -text
gn filter=lfs diff=lfs merge=lfs -text
id filter=lfs diff=lfs merge=lfs -text
pl filter=lfs diff=lfs merge=lfs -text
pt filter=lfs diff=lfs merge=lfs -text
ru filter=lfs diff=lfs merge=lfs -text
uk filter=lfs diff=lfs merge=lfs -text
vi filter=lfs diff=lfs merge=lfs -text
en filter=lfs diff=lfs merge=lfs -text
sk filter=lfs diff=lfs merge=lfs -text
sv-SE filter=lfs diff=lfs merge=lfs -text
ta filter=lfs diff=lfs merge=lfs -text
tr filter=lfs diff=lfs merge=lfs -text
ca filter=lfs diff=lfs merge=lfs -text
eu filter=lfs diff=lfs merge=lfs -text
lv filter=lfs diff=lfs merge=lfs -text
zh-CN filter=lfs diff=lfs merge=lfs -text
el filter=lfs diff=lfs merge=lfs -text
ha filter=lfs diff=lfs merge=lfs -text
ky filter=lfs diff=lfs merge=lfs -text
mt filter=lfs diff=lfs merge=lfs -text
ar filter=lfs diff=lfs merge=lfs -text
as filter=lfs diff=lfs merge=lfs -text
cnh filter=lfs diff=lfs merge=lfs -text
et filter=lfs diff=lfs merge=lfs -text
fa filter=lfs diff=lfs merge=lfs -text
or filter=lfs diff=lfs merge=lfs -text
sah filter=lfs diff=lfs merge=lfs -text
es filter=lfs diff=lfs merge=lfs -text
nl filter=lfs diff=lfs merge=lfs -text
rm-sursilv filter=lfs diff=lfs merge=lfs -text
ka filter=lfs diff=lfs merge=lfs -text
br filter=lfs diff=lfs merge=lfs -text
cy filter=lfs diff=lfs merge=lfs -text
de filter=lfs diff=lfs merge=lfs -text
eo filter=lfs diff=lfs merge=lfs -text
fy-NL filter=lfs diff=lfs merge=lfs -text
ia filter=lfs diff=lfs merge=lfs -text
it filter=lfs diff=lfs merge=lfs -text
mn filter=lfs diff=lfs merge=lfs -text
rm-vallader filter=lfs diff=lfs merge=lfs -text
tt filter=lfs diff=lfs merge=lfs -text
